/*sofia pro regular*/
@font-face {
    font-family: 'sofia_proregular';
    src: url('sofia_pro_regular-webfont.woff2') format('woff2'),
    url('sofia_pro_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*  */
/*andika*/
@font-face {
    font-family: 'andika_new_basicregular';
    src: url('andikanewbasic-r-webfont.woff2') format('woff2'),
    url('andikanewbasic-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*geomanist*/
@font-face {
    font-family: 'geomanistregular';
    src: url('geomanist-regular-webfont.eot');
    src: url('geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('geomanist-regular-webfont.woff2') format('woff2'),
    url('geomanist-regular-webfont.woff') format('woff'),
    url('geomanist-regular-webfont.ttf') format('truetype'),
    url('geomanist-regular-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    height: 100%;
    background: linear-gradient(180deg,#F1F1F1 0%, rgba(255, 255, 255, 0.2) 100%);
}
.logo {
    cursor: pointer;
    width: 150px;
    height: 32px; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.nav__links {
    list-style: none;
    margin-right: -80px;
}

.nav__links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

ul {
    list-style-type: none;
    margin-right: -100px;
    padding: 25px;
    overflow: hidden;
}

li a {
    display: inline-block;
    color: #1c1c1c;
    text-align: right;
    padding: 0 16px 0 16px;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

.foto img{
    width: 450px;
    margin-left: 80px;
}
.container{
    max-width: 1290px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.ok h4{
    padding-top: 90px;
    margin-left: 80px;
    font-family: Nunito Sans;
    font-weight: normal;
    font-size: 18px;
	color: #CE99A3;
}
.ok h1{
    width: 640px;
    margin-left: 80px;
    font-family: Nunito Sans;
    font-weight: 800;
    font-size: 48px;
    z-index: 1;
}

.ok p{
    margin-left: 80px;
    font-family: Nunito Sans;
    font-weight: normal;
    font-size: 16px;
    color: #3e3e3e;
}

#fotoDiri{
    width: 80%;
    margin-left: 120px;
}

.deskripsi{
      font-family: Nunito Sans;
      font-size: 18px;
      color: #000000;
      margin-left: 90px;
      padding: 35px 0 0 0;
}

.section1 {
    margin-top: 100px;
    background-color: #CE99A3;
    padding-bottom: 80px;
}

.title-section{
      text-align: center;
      padding-bottom: 40px;
}

.title-section h4{
    padding-top: 60px;
    text-align: center;
    font-family: Nunito Sans;
    font-weight: normal;
    font-size: 18px;
	color: #F4F4F4; 
}

.title-section h1{
    margin-top: 10px;
    text-align: center;
    font-family: Nunito Sans;
    font-weight: 800;
    font-size: 38px;
    z-index: 1;
}

.title-section2 h4{
    padding-top: 80px;
    text-align: center;
    font-family: Nunito Sans;
    font-weight: normal;
    font-size: 18px;
	color: #CE99A3; 
}

.title-section2 h1{
    margin-top: 10px;
    text-align: center;
    font-family: Nunito Sans;
    font-weight: 800;
    font-size: 38px;
    z-index: 1;
}

table{
    margin-top: 20px;
    font-family: Nunito Sans;
}

#footer-section {
    margin-top: 60px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    background: #CE99A3;
    width: 100%;
    height: fit-content + 10px;
}

#footer-section h4 {
    margin-top: 60px;
    margin-left: 80px;
}

#footer-section p {
    margin-top: 60px;
    margin-left: 80px;
}
.list-inline-group{
    text-align: center;
    color: white;
}

th{
    text-align: center;
}

.th-tempuh{
    text-align: center;
}

.list-group-item{
    border: none;
}

.checked {
    color: orange;
  }
@media screen and (max-width: 900px) {
    
}